* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/*LOGO INPUT CHECKBOX WRAPPER STYLES*/
.logo-input-checkbox{
    min-width: 400px;
    width: 40%;
    margin: 0 auto;
}

.logo-wrapper{
    margin-top: 10%;
}

.input-wrapper-inner{
    width: 400px;
    margin: 0 auto;
}

.checkbox-wrapper-inner{
    width: 280px;
    margin: 0 auto;
}

.input-wrapper-outer,
.checkbox-wrapper-outer{
    margin-top: 30px;
}
/*END    LOGO INPUT CHECKBOX WRAPPER STYLES*/


/*TEXTBOX STYLES*/
input[type=text],
input[type=text]:hover,
input[type=text]:active
{
    background-image: url('../assets/searchicon.png');
    background-position: 7px 7px; 
    background-repeat: no-repeat;
    border: 1px solid #1a1a1a;
    padding: 10px 40px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-weight: bold;
    margin-right: 30px;
}

input[type=text]:focus{
    border: 1px solid #fbb03b;
}
/*END    TEXTBOX STYLES*/


/*BUTTON STYLES*/
input[type=button]
{
    border: 1px solid #1a1a1a;
    background-color: #ffffff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    outline: none;
}

input[type=button]:hover{
    background-color: #fbb03b;
}

input[type=button]:active{
    border: 1px solid #fbb03b;
    opacity: 0.6;
}
/*END    BUTTON STYLES*/

/*CHECKBOX STYLES*/
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:#f2f2f2;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url('../assets/check_radio_sheet.png') left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url('../assets/check_radio_sheet.png') -19px top no-repeat;
}
/*END    CHECKBOX STYLES*/


/*CHECKBOX TEXT STYLES*/
.checkbox-text{
    color:#1a1a1a;
    font-weight: bold;
    padding-right: 10px;
}
/*END    CHECKBOX TEXT STYLES*/