* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.fadeout {
   visibility: hidden;
   opacity: 0;
   transition: visibility 0s 0.5s, opacity 0.5s ease;
}

/*FADE IN ANIMATION*/
.fadein {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
/*END    FADE IN ANIMATION*/


/*LOGO INPUT CHECKBOX WRAPPER STYLES*/
.logo-input-checkbox{
    min-width: 400px;
    width: 40%;
    margin: 0 auto;
}

.logo-wrapper{
    margin-top: 10%;
}

.input-wrapper-inner{
    width: 400px;
    margin: 0 auto;
}

.checkbox-wrapper-inner{
    width: 180px;
    margin: 0 auto;
}

.input-wrapper-outer,
.checkbox-wrapper-outer{
    margin-top: 30px;
}
/*END    LOGO INPUT CHECKBOX WRAPPER STYLES*/


/*TEXTBOX STYLES*/
input[type=text],
input[type=text]:hover,
input[type=text]:active
{
    width: 100%;
    background-image: url('../assets/searchicon.png');
    background-position: 7px 7px; 
    background-repeat: no-repeat;
    border: 1px solid #1a1a1a;
    padding: 10px 40px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-weight: bold;
    margin-right: 30px;
}

input[type=text]:focus{
    border: 1px solid #fbb03b;
}
/*END    TEXTBOX STYLES*/


/*CHECKBOX STYLES*/
input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:#f2f2f2;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url('../assets/check_radio_sheet.png') left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url('../assets/check_radio_sheet.png') -19px top no-repeat;
}
/*END    CHECKBOX STYLES*/


/*CHECKBOX TEXT STYLES*/
.checkbox-text{
    color:#1a1a1a;
    font-weight: bold;
    padding-right: 10px;
}
/*END    CHECKBOX TEXT STYLES*/

/*FIXED PANEL STYLES*/
.fixed-search-panel-wrapper{
    background-color: #fbb03b;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    margin: 0px;
    z-index: 1;
}
/*END    FIXED PANEL STYLES*/


/*LIST  STYLES*/
.list-container{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: 0px auto;
    margin-top: 100px;
    left: 0px;
    width: 100%;
    min-width: 750px;
    max-width: 800px;
}

.list-item-wrapper{
    width: 90%;
    cursor: pointer;
    margin-left: 3%;
    background-color: white;
    height: 100%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    box-shadow: 0px 0px 20px -5px black;
}

.list-item-wrapper:hover{
    margin-left: 7%;
}

.list-item-container {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 170px;
    width: 100%;
    margin-bottom: 30px;
}

.amazon-list-item-container {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: white;
}

.amazon-list-item-container:hover {
    background-color: #FDFD96;
}

.ebay-list-item-container {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: white;
}

.ebay-list-item-container:hover {
    background-color: #779ECB;
}

.list-item-img-wrapper{
    width: 20%;
    height: 100%;
    float: left;
}

.list-item-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.list-item-price {
    font-weight: bolder;
    text-align: center;
}

.list-item-title-price-wrapper {
    float: left;
    width: 60%;
    height: 100%;
}

.list-item-title-wrapper {
    height: 100%;
    width: 60%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-item-price-wrapper {
    height: 100%;
    width: 40%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amazon-list-item-price-wrapper {
    background-color: #FDFD96;
}

.ebay-list-item-price-wrapper {
    background-color: #779ECB;
}

.list-item-title {
    font: 1em bold;
    text-align: center;
    padding: 5px;
}

.list-item-logo-wrapper {
    float: left;
    width: 20%;
    height: 100%;
    overflow: hidden;
}

.list-item-logo {
    width: 100%;
    height: 100%;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari */
    transform: rotate(-45deg);
}

.content-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px 0px;
    width: 100%;
    height: 100%;
}
/*END    LIST  STYLES*/